In [6]:
#pip install pandas sqlalchemy

In [7]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine

In [8]:
# import sqlite3
# import pandas as pd
# from sqlalchemy import create_engine

# sqlite_file_path = '/Users/zafer/Documents/GitHub/salesense/database/database.sqlite' 
# engine = create_engine(f'sqlite:///{sqlite_file_path}')

# df = pd.read_csv('../../data/cleaned_data.csv')  

# df_renamed = df.rename(columns={
#     'InvoiceNo': 'id',
#     'StockCode': 'stock_code',
#     'Description': 'name',
#     'Quantity': 'quantity',
#     'InvoiceDate': 'invoice_date',
#     'UnitPrice': 'unit_price',
#     'CustomerID': 'customer_id',
#     'Country': 'country',
#     'Year': 'year',
#     'Month': 'month',
#     'Day': 'day',
#     'Hour': 'hour',
#     'TotalPrice': 'total_price'
# })

# df_renamed.drop(columns=['id'], inplace=True)


# df_renamed['invoice_date'] = pd.to_datetime(df_renamed['invoice_date'])


# df_renamed.to_sql('sales', con=engine, if_exists='append', index=False)

In [9]:

sqlite_file_path = '/Users/zafer/Documents/GitHub/salesense/database/database.sqlite' 
engine = create_engine(f'sqlite:///{sqlite_file_path}')

df = pd.read_csv('../../data/db_data.csv')  

df_renamed = df.rename(columns={
    'InvoiceNo': 'id',
    'StockCode': 'stock_code',
    'Description': 'name',
    'Quantity': 'quantity',
    'InvoiceDate': 'invoice_date',
    'UnitPrice': 'unit_price',
    'CustomerID': 'customer_id',
    'Country': 'country',
    'Year': 'year',
    'Month': 'month',
    'Day': 'day',
    'Hour': 'hour',
    'TotalPrice': 'total_price',
    'CustomerEmail': 'customer_email',
    'CustomerName': 'customer_name'
})

df_renamed.drop(columns=['id'], inplace=True)

df_renamed['invoice_date'] = pd.to_datetime(df_renamed['invoice_date'])

df_renamed.to_sql('sales', con=engine, if_exists='replace', index=False)
print("Sales tablosu oluşturuldu ve veriler eklendi.")

df_countries = pd.read_csv('../../data/countries.csv')
df_countries.to_sql('countries', con=engine, if_exists='replace', index=False)
print("Countries tablosu oluşturuldu ve veriler eklendi.")

df_products = pd.read_csv('../../data/products.csv')
df_products.to_sql('products', con=engine, if_exists='replace', index=False)
print("Products tablosu oluşturuldu ve veriler eklendi.")

df_customers = pd.read_csv('../../data/customers.csv')
df_customers.to_sql('customers', con=engine, if_exists='replace', index=False)
print("Customers tablosu oluşturuldu ve veriler eklendi.")

Sales tablosu oluşturuldu ve veriler eklendi.
Countries tablosu oluşturuldu ve veriler eklendi.
Products tablosu oluşturuldu ve veriler eklendi.
Customers tablosu oluşturuldu ve veriler eklendi.

In [10]:
import sqlite3
import bcrypt


def create_database():
    sqlite_file_path = '/Users/zafer/Documents/GitHub/salesense/database/database.sqlite' 

    conn = sqlite3.connect(sqlite_file_path)
    cursor = conn.cursor()

    # Users tablosunu oluştur
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            email TEXT NOT NULL UNIQUE,
            username TEXT NOT NULL,
            password TEXT NOT NULL
        )
    ''')

    # Settings tablosunu oluştur
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS settings (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            company_name TEXT NOT NULL,
            description TEXT
        )
    ''')

    # Sessions tablosu
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS sessions (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            user_id INTEGER NOT NULL,
            session_id TEXT NOT NULL UNIQUE,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            FOREIGN KEY(user_id) REFERENCES users(id) ON DELETE CASCADE
        )
    ''')

    # Değişiklikleri kaydet ve bağlantıyı kapat
    conn.commit()
    conn.close()

def add_user(email, username, password):
    sqlite_file_path = '/Users/zafer/Documents/GitHub/salesense/database/database.sqlite' 
    conn = sqlite3.connect(sqlite_file_path)
    cursor = conn.cursor()

    # Kullanıcı ekle
    cursor.execute('''
        INSERT INTO users (email, username, password)
        VALUES (?, ?, ?)
    ''', (email, username, password))

    # Değişiklikleri kaydet ve bağlantıyı kapat
    conn.commit()
    conn.close()

def add_settings(company_name, description):
    sqlite_file_path = '/Users/zafer/Documents/GitHub/salesense/database/database.sqlite' 
    conn = sqlite3.connect(sqlite_file_path)
    cursor = conn.cursor()

    # Ayarları ekle
    cursor.execute('''
        INSERT INTO settings (company_name, description)
        VALUES (?, ?)
    ''', (company_name, description))

    # Değişiklikleri kaydet ve bağlantıyı kapat
    conn.commit()
    conn.close()

if __name__ == "__main__":
    create_database()
    print("Database and tables created successfully.")

    # Yeni kullanıcı ekle
    password = "zafer123"
    hashed_password = bcrypt.hashpw(password.encode(), bcrypt.gensalt(rounds=12))
    
    add_user("zafer@bilen.dev", "Zafer Bilen", hashed_password)
    print("User added successfully.")

    title = "TrendBox"
    description = """
    TrendBox, moda, elektronik ve ev ürünlerinde geniş ürün yelpazesi sunan bir e-ticaret platformudur. 
    Müşterilerine kaliteli ürünleri uygun fiyatlarla sunarak, online alışveriş deneyimini hızlı ve güvenilir hale getirir.
    Sürekli yenilenen koleksiyonlarla her zevke hitap eder.
    """
    add_settings(title, description)
    print("Settings added successfully.")

Database and tables created successfully.
User added successfully.
Settings added successfully.

In [11]:
df_products

                              Description
0             WOODEN FRAME ANTIQUE WHITE
1        RETROSPOT TEA SET CERAMIC 11 PC
2     SET/10 IVORY POLKADOT PARTY CANDLES
3          PACK OF 60 SPACEBOY CAKE CASES
4                REGENCY TEA PLATE GREEN
...                                   ...
3464               VINTAGE ENGRAVED HEART
3465              WOODLAND MINI RUCKSACK
3466                       POSY CANDY BAG
3467   S/4 BLACK MINI ROSE CANDLE IN BOWL
3468    BLACK/WHITE GLASS/SILVER BRACELET

[3469 rows x 1 columns]

In [12]:
df_renamed.sort_values(by='unit_price', ascending=False).head(10)

,stock_code,name,quantity,invoice_date,unit_price,customer_id,country,total_price,customer_name,customer_email
58857,M,Manual,1,2023-10-27 14:20:00,4161.06,12536,France,4161.06,Mrs. Melissa Clarke,christineparks@example.net
19165,M,Manual,1,2023-08-11 09:38:00,2500.00,15581,United Kingdom,2500.00,Tanner Mathis,olsonjordan@example.com
20626,M,Manual,1,2023-03-11 10:19:00,1687.17,14911,EIRE,1687.17,Brandon Hernandez,alewis@example.org
62483,M,Manual,1,2023-05-23 11:26:00,1241.98,12757,Portugal,1241.98,Kevin Villanueva,mark77@example.com
52981,DOT,DOTCOM POSTAGE,1,2023-10-17 13:31:00,743.62,14096,United Kingdom,743.62,Sarah Lee,lindsay28@example.net
29823,POST,POSTAGE,1,2023-06-22 13:12:00,700.00,12432,Norway,700.00,Douglas Scott,batesbrent@example.com
31701,DOT,DOTCOM POSTAGE,1,2023-10-24 17:07:00,638.30,14096,United Kingdom,638.30,Sarah Lee,lindsay28@example.net
26324,M,Manual,1,2023-05-12 19:02:00,557.72,12757,Portugal,557.72,Kevin Villanueva,mark77@example.com
11877,POST,POSTAGE,1,2023-07-15 12:05:00,550.94,17444,Canada,550.94,Christine Ayala,angelathomas@example.org
67710,M,Manual,1,2023-07-18 14:33:00,550.64,13564,United Kingdom,550.64,Diana Jackson,philip55@example.com